<head>
<link rel="stylesheet" type="text/css" href="timer.css">
</head>
<body>
<h1>Countdown Clock</h1>

<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
    <script src= "timer.js">
        
    </script>
</div>
</body>